---
BasedOnStyle: Microsoft
Language: Cpp
TabWidth: '4'
UseTab: Always
ColumnLimit: '105'
NamespaceIndentation: All
PointerAlignment: Left
IndentCaseLabels: 'true'
AllowShortFunctionsOnASingleLine: 'true'
...
