.zed

build
install
log
bin
dist
venv
wheelhouse
*.cache*
*compile_commands.json
customConfigs

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!candlelib/3rd_party/libusb/lib/windows/*.dll
!candlelib/3rd_party/libusb/lib/windows/*.a

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
# With exception for a driver
!candlesdk-win-driver.exe
*.out
*.app

# Config files
*.ini
Makefile.old